{% extends "base.html" %}

{% block content %}
<div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){

            var socket = io.connect('http://127.0.0.1:5000');
            
            // Initial connection
            socket.on('connect', function(){
                socket.send('connected');
            });
            // Shows messages
            socket.on('message', function(msg) {
                $("#messages").append('<li>'+msg+'</li>');
            });

            // When send is hit
            $('#sendbutton').on('click', function(){
                socket.send($('#myMessage').val());
                $('#myMessage').val('');
            });

        });
    </script>
    <ul id="messages"></ul>
    <!-- <input type="text" id="myMessage">
    <button id="sendbutton">Send</button> -->
    {% if current_user.is_authenticated %}
        <div class="input-group mb-3 container-fluid mt-3 p-5">
            <span class="input-group-text" id="inputGroup-sizing-default">@{{ current_user.username }}</span>
            <input id="myMessage" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default">
            <button id="sendbutton" class="btn btn-dark" type="button">Send Chat</button>
        </div>
    {% endif %}




    {% endblock %}
</div>